

<div class="cover mb-4 d-flex align-items-center justify-content-between">
  <div class="text-center text-white">
<%= image_tag "popcorn.png", alt: "popcorn", width: 100 %>
<%= link_to "create a new list", new_list_path, class: "btn btn-primary" %>
<ul class="list-inline tabs-underlined">
  <li>
    <%= image_tag "popcorn.png", alt: "popcorn", width: 100 %>
  </li>
   <li>
    <a href="#" class="tab-underlined">My list</a>
  </li>
  <li>
    <%= link_to "create a new list", new_list_path, class: "btn btn-primary" %>
  </li>
</ul>
</div>
</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/rails/watch-list/homepage.png)">
  Movie Lists
</div>



   <% @lists.each do |list| %>
   <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"> <%= link_to list.name, list %></h5>




</div>
</div>

   <% end %>
