<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<h1><%= @list.name %></h1>

<%= link_to 'Add a comment', new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
  <p>
    <%= bookmark.movie.title %>
     <%= bookmark.comment %>
    <%= link_to 'Delete Bookmark', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "bla" } %>
  </p>
<% end %>

<%= link_to "back to list", lists_path %>
